---
import Background from "@/components/sections/Background.astro";
import Header from "@/components/layout/Header.astro";
import Hero from "@/components/sections/Hero.astro";
import Nosotros from "@/components/sections/Nosotros.astro";
import Servicios from "@/components/sections/Servicios.astro";
import Portafolio from "@/components/sections/Portafolio.astro";
import InteligenciaArtificial from "@/components/sections/InteligenciaArtificial.astro";
import Contacto from "@/components/sections/Contacto.astro";
import Footer from "@/components/layout/Footer.astro";
import BurbujaChatbot from "@/components/sections/BurbujaChatbot.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Prismatica Software and Automation</title>
  </head>

  <body class="relative min-h-screen overflow-x-hidden bg-background">
    <!-- Background con estrellas -->
    <Background />

    <!-- Contenido principal -->
    <div class="relative">
      <Header />
      <Hero />
      <Servicios />
      <Portafolio />
      <Nosotros />
      <InteligenciaArtificial />
      <Contacto />
      <Footer />

      <main>
        <slot />
      </main>
    </div>

    <!-- Chatbot
    <BurbujaChatbot />
     -->
  </body>
</html>